[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
image = "*"
skia-python = "*"
numpy = "*"
opencv-python = "*"
asyncpraw = "*"
aiohttp = "*"
praw = "*"
ffmpeg = "*"
ffmpeg-python = "*"
moviepy = "*"
ffmpy = "*"
python-dateutil = "*"

[dev-packages]

[requires]
python_version = "3.13"
